label{
    display: block;
    font-size: 18px;
    font-family: monospace;
    font-weight: 600;
    color: black;
    margin-top: 30px!important;
    letter-spacing: -1px;
}
.mdc-dialog__title{background-color: #0756a5!important; color: #fff!important;}
h1{
    align-items: center;
    font-size: 25px!important;
    font-family: monospace!important;
    font-weight: bold!important;
    padding-top: 10px!important;
}
button
{
  margin-left: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  background-color: #0756a5;
  color: #fff;
  height: 40px;
  width: 170px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 3px 3px #999;
}

select,input{
   padding-left: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    
    height: 40px;
    width: 350px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 3px 3px #999;
}

button[disabled]
{

  background-color: #dbeaf9!important;
;
}

@media screen and (max-width: 490px) {
   
  button
  {
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    background-color: #0756a5;
    color: #fff;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 3px 3px #999;
  }
  
  select,input{
     padding-left: 5px;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      
      height: 35px;
      width: 200px;
      border-radius: 10px;
      border: none;
      box-shadow: 1px 3px 3px #999;
  }

}